services:
  redis:
    image: redis:7-alpine
    container_name: vanguard-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: vanguard-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  vanguard-api:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: vanguard-api
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    depends_on:
      - redis
      - rabbitmq

volumes:
  redis_data:
  rabbitmq_data:
